In [5]:
    #1

import pandas as pd

books_df = pd.read_csv('books.csv')

duplicates = books_df[books_df.duplicated(subset='catalog_number', keep=False)]

sorted_duplicates = duplicates.sort_values(by='catalog_number')

sorted_duplicates

,book_id,author_name,title,publication_year,catalog_number
32,53783,NaN,Broken Chains,1982.0,CAT-2001
33,20274,James Mejia,Broken Chains - Special Edition,1982.0,CAT-2001
34,50753,Tiffany Davenport,Paths Unseen,2009.0,CAT-2002
35,58871,Tiffany Davenport,NaN,2009.0,CAT-2002
36,86910,Timothy Trujillo,The Hidden Truth,NaN,CAT-2003
37,77386,Timothy Trujillo,The Hidden Truth - Special Edition,1983.0,CAT-2003
38,58633,NaN,NaN,1984.0,CAT-2004
39,44065,Victor Burke,The Edge of Reality - Special Edition,1985.0,CAT-2004
40,45824,NaN,Winds of Change,1994.0,CAT-2005
41,87457,Tiffany Mcgee,Winds of Change - Special Edition,1995.0,CAT-2005
42,46818,Jared Thomas,NaN,2020.0,CAT-2006
43,26735,Jared Thomas,Voices in the Dark - Special Edition,2019.0,CAT-2006
44,92800,Brendan Mosley,NaN,2016.0,CAT-2007
45,39188,Brendan Mosley,Memories of Tomorrow - Special Edition,2017.0,CAT-2007
46,38900,Ryan Banks,River of Stars,1993.0,CAT-2008
47,44790,Ryan Banks,NaN,1992.0,CAT-2008

In [24]:
    #2

import pandas as pd

books_df = pd.read_csv('books.csv')

duplicates = books_df[books_df.duplicated(subset='catalog_number', keep=False)].copy()

duplicates.loc[:, 'non_nan_count'] = duplicates.notna().sum(axis=1)

sorted_duplicates = duplicates.sort_values(by='catalog_number')

sorted_duplicates

,book_id,author_name,title,publication_year,catalog_number,non_nan_count
32,53783,NaN,Broken Chains,1982.0,CAT-2001,4
33,20274,James Mejia,Broken Chains - Special Edition,1982.0,CAT-2001,5
34,50753,Tiffany Davenport,Paths Unseen,2009.0,CAT-2002,5
35,58871,Tiffany Davenport,NaN,2009.0,CAT-2002,4
36,86910,Timothy Trujillo,The Hidden Truth,NaN,CAT-2003,4
37,77386,Timothy Trujillo,The Hidden Truth - Special Edition,1983.0,CAT-2003,5
38,58633,NaN,NaN,1984.0,CAT-2004,3
39,44065,Victor Burke,The Edge of Reality - Special Edition,1985.0,CAT-2004,5
40,45824,NaN,Winds of Change,1994.0,CAT-2005,4
41,87457,Tiffany Mcgee,Winds of Change - Special Edition,1995.0,CAT-2005,5
42,46818,Jared Thomas,NaN,2020.0,CAT-2006,4
43,26735,Jared Thomas,Voices in the Dark - Special Edition,2019.0,CAT-2006,5
44,92800,Brendan Mosley,NaN,2016.0,CAT-2007,4
45,39188,Brendan Mosley,Memories of Tomorrow - Special Edition,2017.0,CAT-2007,5
46,38900,Ryan Banks,River of Stars,1993.0,CAT-2008,5
47,44790,Ryan Banks,NaN,1992.0,CAT-2008,4

In [28]:
    #3

import pandas as pd

books_df = pd.read_csv('books.csv')

duplicates = books_df[books_df.duplicated(subset='catalog_number', keep=False)].copy()

duplicates['non_nan_count'] = duplicates.notna().sum(axis=1)

most_filled_values = duplicates.sort_values(by='non_nan_count', ascending=False).drop_duplicates(subset='catalog_number', keep='first')

most_filled_values = best_rows.sort_values(by='catalog_number')

most_filled_values

,book_id,author_name,title,publication_year,catalog_number,non_nan_count
33,20274,James Mejia,Broken Chains - Special Edition,1982.0,CAT-2001,5
34,50753,Tiffany Davenport,Paths Unseen,2009.0,CAT-2002,5
37,77386,Timothy Trujillo,The Hidden Truth - Special Edition,1983.0,CAT-2003,5
39,44065,Victor Burke,The Edge of Reality - Special Edition,1985.0,CAT-2004,5
41,87457,Tiffany Mcgee,Winds of Change - Special Edition,1995.0,CAT-2005,5
43,26735,Jared Thomas,Voices in the Dark - Special Edition,2019.0,CAT-2006,5
45,39188,Brendan Mosley,Memories of Tomorrow - Special Edition,2017.0,CAT-2007,5
46,38900,Ryan Banks,River of Stars,1993.0,CAT-2008,5

In [36]:
    #4

import pandas as pd

books = pd.read_csv("books.csv")
sales = pd.read_csv("books_sales.csv")

kept_id_map = books.drop_duplicates("catalog_number")[["catalog_number", "book_id"]].set_index("catalog_number")["book_id"]

book_catalog = books.set_index("book_id")["catalog_number"]
book_id_mapping = book_catalog.map(kept_id_map).rename("kept_book_id")
book_id_mapping = book_id_mapping.reset_index().rename(columns={"book_id": "original_book_id"})

replace_dict = pd.Series(book_id_mapping.kept_book_id.values, index=book_id_mapping.original_book_id).to_dict()

sales["book_id"] = sales["book_id"].map(replace_dict)

sales.to_csv("books_sales.updated.csv", index=False)
book_id_mapping.to_csv("book_id_mapping.csv", index=False)

In [41]:
    #5

import pandas as pd

deleted_books = duplicates[~duplicates['book_id'].isin(most_filled_values['book_id'])]

merged_df = deleted_books[['catalog_number', 'book_id']].merge(
    most_filled_values[['catalog_number', 'book_id']],
    on='catalog_number',
    suffixes=('_removed', '_kept')
)

merged_df

  catalog_number  book_id_removed  book_id_kept
0       CAT-2001            53783         20274
1       CAT-2002            58871         50753
2       CAT-2003            86910         77386
3       CAT-2004            58633         44065
4       CAT-2005            45824         87457
5       CAT-2006            46818         26735
6       CAT-2007            92800         39188
7       CAT-2008            44790         38900

In [44]:
    #6

merged_df = deleted_books[['catalog_number', 'book_id']].merge(
    most_filled_values[['catalog_number', 'book_id']],
    on='catalog_number',
    suffixes=('_removed', '_kept')
)

replacement_dict = dict(zip(merged_df['book_id_removed'], merged_df['book_id_kept']))

sales_df['book_id'] = sales_df['book_id'].replace(replacement_dict)

In [45]:
import pandas as pd

# Step 1: Load the sales table
sales_df = pd.read_csv('sales.csv')

# Step 2: Create the replacement dictionary
# Assuming you already have merged_df from previous steps:
# merged_df contains columns: book_id_removed and book_id_kept
replacement_dict = dict(zip(merged_df['book_id_removed'], merged_df['book_id_kept']))

# Step 3: Replace book_id in the sales table
sales_df['book_id'] = sales_df['book_id'].replace(replacement_dict)

# Step 4: Save the updated sales table
sales_df.to_csv('updated_sales.csv', index=False)

<class 'FileNotFoundError'>: [Errno 44] No such file or directory: 'sales.csv'