In [2]:
# 1 - create dataframe

import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Evan"],
    "Age": [25, 30, 35, 28, 40],
    "Salary": [50000, 60000, 75000, 62000, 80000],
    "Department": ["HR", "IT", "Finance", "IT", "HR"]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   75000    Finance
3    Diana   28   62000         IT
4     Evan   40   80000         HR

In [5]:
# 1.select rows and columns with .iloc
# first 3 rows, only the name and salary columns

selected = df.iloc[:3][["Name", "Salary"]]
print(selected)

      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   75000

In [7]:
# 2.add a new calculated column

# create a column bonus that is 10% of the Salary

df["Bonus"] = df["Salary"] * 0.10
print(df)

      Name  Age  Salary Department   Bonus
0    Alice   25   50000         HR  5000.0
1      Bob   30   60000         IT  6000.0
2  Charlie   35   75000    Finance  7500.0
3    Diana   28   62000         IT  6200.0
4     Evan   40   80000         HR  8000.0

In [8]:
# 3.change the index

# set the name column as the new index
df_indexed = df.set_index("Name")
print(df_indexed.loc["Bob":"Diana", ["Salary", "Department"]])

print()

# reset to default numeric index
df_reset = df_indexed.reset_index()
print(df_reset)

         Salary Department
Name
Bob       60000         IT
Charlie   75000    Finance
Diana     62000         IT

      Name  Age  Salary Department   Bonus
0    Alice   25   50000         HR  5000.0
1      Bob   30   60000         IT  6000.0
2  Charlie   35   75000    Finance  7500.0
3    Diana   28   62000         IT  6200.0
4     Evan   40   80000         HR  8000.0