# Pandas â€“ Exercises Solutions ðŸŽ¯
Based on [12-pandas-hw2.md](https://github.com/pythonai200425/pages/blob/main/12-pandas-hw2.md)

---

## 1. Conditions ðŸ”

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [22, 35, 19, 40],
    'city': ['Paris', 'London', 'Berlin', 'Paris']
})
print("Original DataFrame:")
print(df)

# 1. age > 30
print("\nRows where age > 30:")
print(df[df['age'] > 30])

# 2. city is Paris or London
print("\nRows where city is Paris or London:")
print(df[df['city'].isin(['Paris', 'London'])])

# 3. age between 20 and 25 (inclusive)
print("\nRows where age is between 20 and 25:")
print(df[(df['age'] >= 20) & (df['age'] <= 25)])

## 2. Apply on Column ðŸ“Š

In [ ]:
df = pd.DataFrame({
    'salary': [2500, 4000, 6000, 7500]
})
print("Original DataFrame:")
print(df)

# 1. salary_tax = 10% of salary
df['salary_tax'] = df['salary'] * 0.10

# 2. annual_salary = salary * 12
df['annual_salary'] = df['salary'] * 12

print("\nWith salary_tax and annual_salary:")
print(df)

## 3. Apply on Rows ðŸ“

In [ ]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'math': [80, 55, 90],
    'english': [70, 65, 85],
    'science': [60, 75, 95]
})
print("Original DataFrame:")
print(df)

# 1. Total score per student
df['total_score'] = df[['math', 'english', 'science']].sum(axis=1)

# 2. Pass/Fail based on average score
df['result'] = df[['math', 'english', 'science']].mean(axis=1).apply(lambda x: 'Pass' if x > 60 else 'Fail')

print("\nWith total_score and result:")
print(df)

## 4. Add / Replace Row using `.loc` / `.iloc` âž•

In [ ]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob'],
    'age': [25, 30]
})
print("Original DataFrame:")
print(df)

# 1. Add new row for Charlie
df.loc[2] = ['Charlie', 28]

# 2. Replace the second row (Bob) with Bobby, age 32 using iloc
df.iloc[1] = ['Bobby', 32]

print("\nAfter adding Charlie and updating Bob to Bobby:")
print(df)

## 5. Update a Cell using `.at` / `.iat` âœï¸

In [ ]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [22, 35, 28]
})
print("Original DataFrame:")
print(df)

# 1. Change Alice to Alicia with .at
df.at[0, 'name'] = 'Alicia'

# 2. Change Bob's age (row 1, col 1) from 35 to 36 with .iat
df.iat[1, 1] = 36

print("\nAfter updates:")
print(df)

## 6. Concatenation ðŸ”—

In [ ]:
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df2 = pd.DataFrame({
    'A': [7, 8, 9],
    'B': [10, 11, 12]
})

print("df1:")
print(df1)
print("df2:")
print(df2)

# 1. Concatenate by rows
concat_rows = pd.concat([df1, df2], axis=0, ignore_index=True)
print("\nConcatenated by rows:")
print(concat_rows)

# 2. Concatenate by columns
concat_cols = pd.concat([df1, df2], axis=1)
print("\nConcatenated by columns:")
print(concat_cols)

## 7. More Conditions ðŸ”

In [ ]:
df = pd.DataFrame({
    'name': ['Book', 'Pen', 'Laptop', 'Phone'],
    'price': [50, 10, 120, 80],
    'quantity': [5, 2, 10, 7]
})
print("Original DataFrame:")
print(df)

# 1. price > 100
print("\nProducts where price > 100:")
print(df[df['price'] > 100])

# 2. quantity is 5 or 10
print("\nProducts where quantity is 5 or 10:")
print(df[df['quantity'].isin([5, 10])])

# 3. price between 50 and 80 (inclusive)
print("\nProducts where price is between 50 and 80:")
print(df[(df['price'] >= 50) & (df['price'] <= 80)])

## 8. Drop Row / Column ðŸ—‘ï¸

In [ ]:
df = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'department': ['HR', 'IT', 'Finance']
})
print("Original DataFrame:")
print(df)

# 1. Drop first row
dropped_row = df.drop(index=0)
print("\nAfter dropping first row:")
print(dropped_row)

# 2. Drop 'department' column
dropped_col = df.drop(columns='department')
print("\nAfter dropping 'department' column:")
print(dropped_col)