In [41]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [22, 35, 19, 40],
    'city': ['Paris', 'London', 'Berlin', 'Paris']
})
print("DataFrame:")
print(df)

# 1. age > 30
print("\n Rows where age > 30:")
print(df[df['age'] > 30])

# 2. city is Paris or London
print("\n Rows where city is Paris or London:")
print(df[df['city'].isin(['Paris', 'London'])])

# 3. age between 20 and 25 (inclusive)
print("\n Rows where age is between 20 and 25:")
print(df[(df['age'] >= 20) & (df['age'] <= 25)])

DataFrame:
      name  age    city
0    Alice   22   Paris
1      Bob   35  London
2  Charlie   19  Berlin
3    Diana   40   Paris

 Rows where age > 30:
    name  age    city
1    Bob   35  London
3  Diana   40   Paris

 Rows where city is Paris or London:
    name  age    city
0  Alice   22   Paris
1    Bob   35  London
3  Diana   40   Paris

 Rows where age is between 20 and 25:
    name  age   city
0  Alice   22  Paris

In [43]:
df = pd.DataFrame({
    'salary': [2500, 4000, 6000, 7500]
})
print("Original DataFrame:")
print(df)

# 1. salary_tax = 10% of salary
df['salary_tax'] = df['salary'] * 0.10

# 2. annual_salary = salary * 12
df['annual_salary'] = df['salary'] * 12

print("\n With salary_tax and annual_salary:")
print(df)

Original DataFrame:
   salary
0    2500
1    4000
2    6000
3    7500

 With salary_tax and annual_salary:
   salary  salary_tax  annual_salary
0    2500       250.0          30000
1    4000       400.0          48000
2    6000       600.0          72000
3    7500       750.0          90000

In [3]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'math': [80, 55, 90],
    'english': [70, 65, 85],
    'science': [60, 75, 95]
})
print("Original DataFrame:")
print(df)

# 1. Total score per student
df['total_score'] = df[['math', 'english', 'science']].sum(axis=1)

# 2. Pass/Fail based on average score
df['result'] = df[['math', 'english', 'science']].mean(axis=1).apply(lambda x: 'Pass' if x > 60 else 'Fail')

print("\n With total_score and result:")
print(df)

Original DataFrame:
      name  math  english  science
0    Alice    80       70       60
1      Bob    55       65       75
2  Charlie    90       85       95

With total_score and result:
      name  math  english  science  total_score result
0    Alice    80       70       60          210   Pass
1      Bob    55       65       75          195   Pass
2  Charlie    90       85       95          270   Pass

In [45]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob'],
    'age': [25, 30]
})
print("Original DataFrame:")
print(df)

# 1. Add new row for Charlie
df.loc[2] = ['Charlie', 28]

# 2. Replace the second row (Bob) with Bobby, age 32 using iloc
df.iloc[1] = ['Bobby', 32]

print("\n After adding Charlie and updating Bob to Bobby:")
print(df)

Original DataFrame:
    name  age
0  Alice   25
1    Bob   30

 After adding Charlie and updating Bob to Bobby:
      name  age
0    Alice   25
1    Bobby   32
2  Charlie   28

In [44]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [22, 35, 28]
})
print("Original DataFrame:")
print(df)

# 1. Change Alice to Alicia with .at
df.at[0, 'name'] = 'Alicia'

# 2. Change Bob's age (row 1, col 1) from 35 to 36 with .iat
df.iat[1, 1] = 36

print("\n After updates:")
print(df)

Original DataFrame:
      name  age
0    Alice   22
1      Bob   35
2  Charlie   28

 After updates:
      name  age
0   Alicia   22
1      Bob   36
2  Charlie   28

In [47]:
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df2 = pd.DataFrame({
    'A': [7, 8, 9],
    'B': [10, 11, 12]
})

print("df1:")
print(df1)
print("df2:")
print(df2)

# 1. Concatenate by rows
concat_rows = pd.concat([df1, df2], axis=0, ignore_index=True)
print("\n Concatenated by rows:")
print(concat_rows)

# 2. Concatenate by columns
concat_cols = pd.concat([df1, df2], axis=1)
print("\n Concatenated by columns:")
print(concat_cols)

df1:
   A  B
0  1  4
1  2  5
2  3  6
df2:
   A   B
0  7  10
1  8  11
2  9  12

 Concatenated by rows:
   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

 Concatenated by columns:
   A  B  A   B
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [46]:
df = pd.DataFrame({
    'name': ['Book', 'Pen', 'Laptop', 'Phone'],
    'price': [50, 10, 120, 80],
    'quantity': [5, 2, 10, 7]
})
print("Original DataFrame:")
print(df)

# 1. price > 100
print("\n Products where price > 100:")
print(df[df['price'] > 100])

# 2. quantity is 5 or 10
print("\n Products where quantity is 5 or 10:")
print(df[df['quantity'].isin([5, 10])])

# 3. price between 50 and 80 (inclusive)
print("\n Products where price is between 50 and 80:")
print(df[(df['price'] >= 50) & (df['price'] <= 80)])

Original DataFrame:
     name  price  quantity
0    Book     50         5
1     Pen     10         2
2  Laptop    120        10
3   Phone     80         7

 Products where price > 100:
     name  price  quantity
2  Laptop    120        10

 Products where quantity is 5 or 10:
     name  price  quantity
0    Book     50         5
2  Laptop    120        10

 Products where price is between 50 and 80:
    name  price  quantity
0   Book     50         5
3  Phone     80         7

In [48]:
df = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'department': ['HR', 'IT', 'Finance']
})
print("Original DataFrame:")
print(df)

# 1. Drop first row
dropped_row = df.drop(index=0)
print("\n After dropping first row:")
print(dropped_row)

# 2. Drop 'department' column
dropped_col = df.drop(columns='department')
print("\n After dropping 'department' column:")
print(dropped_col)

Original DataFrame:
   id     name department
0   1    Alice         HR
1   2      Bob         IT
2   3  Charlie    Finance

 After dropping first row:
   id     name department
1   2      Bob         IT
2   3  Charlie    Finance

 After dropping 'department' column:
   id     name
0   1    Alice
1   2      Bob
2   3  Charlie