In [5]:
import pandas as pd

In [50]:
# load the dataframe from csv - mpg.csv

df = pd.read_csv('mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [51]:
# 1.1 sort the dataframe by mpg in ascending order
df_mpg_sorted = df.sort_values(by='mpg')
df_mpg_sorted.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
103,11.0,8,400.0,150,4997,14.0,73,1,chevrolet impala
124,11.0,8,350.0,180,3664,11.0,73,1,oldsmobile omega

In [55]:
# 1.2 sort the dataframe by weight in descending order
weight_descending = df.sort_values(by='weight', ascending=False)
weight_descending.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
44,13.0,8,400.0,175,5140,12.0,71,1,pontiac safari (sw)
103,11.0,8,400.0,150,4997,14.0,73,1,chevrolet impala
42,12.0,8,383.0,180,4955,11.5,71,1,dodge monaco (sw)
90,12.0,8,429.0,198,4952,11.5,73,1,mercury marquis brougham
95,12.0,8,455.0,225,4951,11.0,73,1,buick electra 225 custom

In [32]:
# 1.3 sort by model_year first, then by mpg within each year
sort_model_by_mpg = df.sort_values(by=['model_year', 'mpg'], ascending=[True, True])
sort_model_by_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210,4382,13.5,70,1,dodge d200
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala

In [11]:
# 2.1 find how many cars of each cylinders type exist
df['cylinders'].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [12]:
# 2.2 count how many times each origin appears
df['origin'].value_counts()

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [49]:
# 2.3 which model_year has the most cars?
most_cars = df['model_year'].value_counts().idxmax()
print("most cars by year:", most_cars)

most cars by year: 73

In [60]:
# 3.1 group by cylinders and calculate the average mpg
average_mpg = df.groupby('cylinders')['mpg'].mean()
print(average_mpg)

cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64

In [37]:
# 3.2 group by origin and find the maximum horsepower
df.groupby("model_year")["mpg"].mean().reset_index()

    model_year        mpg
0           70  17.689655
1           71  21.250000
2           72  18.714286
3           73  17.100000
4           74  22.703704
5           75  20.266667
6           76  21.573529
7           77  23.375000
8           78  24.061111
9           79  25.093103
10          80  33.696552
11          81  30.334483
12          82  31.709677

In [52]:
# 3.3 group by model_year and calculate both the mean and median of weight
df.groupby('model_year')['weight'].agg(['mean', 'median'])

                   mean  median
model_year
70          3372.793103  3449.0
71          2995.428571  2798.0
72          3237.714286  2956.0
73          3419.025000  3338.5
74          2877.925926  2489.0
75          3176.800000  3098.5
76          3078.735294  3171.5
77          2997.357143  2747.5
78          2861.805556  2910.0
79          3055.344828  3190.0
80          2436.655172  2335.0
81          2522.931034  2385.0
82          2453.548387  2525.0

In [53]:
# 4.1 how many unique car names are in the dataset?
unique_names = df['name'].nunique()

print("unique car names:", unique_names)

unique car names: 305

In [54]:
# 4.2 list all unique values in the cylinders column
unique_cylinders = df['cylinders'].unique()

print("unique values of cylinders:", unique_cylinders)

unique values of cylinders: [8 4 6 3 5]

In [47]:
# 4.3 how many unique model_year values are there?
unique_model_year = df['model_year'].nunique()

print("unique model year:", unique_model_year)

unique model year: 13